@import "@s/mixin";

.body {
	padding: 15px 24px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100dvh;
	background-color: #000;
	background-image: image-set(
		url("@i/body/body-bg_320.webp") 1x,
		url("@i/body/body-bg_320@2x.webp") 2x,
		url("@i/body/body-bg_320@3x.webp") 3x
	);
	background-size: 100% 100%;

	@include media-md {
		background-image: image-set(
			url("@i/body/body-bg_1440.webp") 1x,
			url("@i/body/body-bg_1440@2x.webp") 2x,
			url("@i/body/body-bg_1440@3x.webp") 3x
		);
	}

	@supports (min-height: 100dvh) {
		min-height: 100dvh;
	}
}
