@font-face {
	font-family: 'komikatitle';
	src:
		url("@f/komikatitle.woff2") format("woff2"),
		url("@f/komikatitle.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
